html, body{
    font-size: 100%;
	font-family: 'Open Sans', sans-serif !important;
	color: #3C3D3F;
	background: #bbbfff;
	max-width: 800px;
	margin: auto;
	height:100%;
}

.question-text{
	font-weight: bold;
}

.helper-text{
	margin-top: 32px;
	font-size: 90%;
	border: 2px solid #aaaa33;
	border-radius: 10px;
}

.results-container{
	margin-top: 16px;
	font-size: 120%;
	height: 128px;
}

.btn-primary{
	padding: 16px;
	margin-top: 16px;
	font-weight: bold;
	
}

.active{
	background: #00000000 !important;
}

.dropdown-menu {
	background: #00000000 !important;
}

.cont{
	background: #fff;
	min-height: 100%;
	min-width: 210px;
}

.img_button{
	margin-top: 16px;
	width: 80px;
}


.footer {
    bottom : 0px;
    height : 30px;
    margin-top : 40px;
	font-size: 80%;
	color: #fff;
	text-align: center;
	margin-left: 32px;
}

.navbar{
	background: #000033;
	background: linear-gradient(#000033, #000000);
}

#result-prompt{
	font-size: 28px;
}

#result-span{
	font-size: 24px;
	font-style: bold;
}

/*CSS for login dropdown*/
.signin{
  margin-top: 12px;
  padding-bottom: 0;
  list-style: none;
  position: relative;
  float: right;
  background: #eee;
  border-radius: 3px; 
  
}

nav li {
  float: left;          
}

nav #login {
  border-right: 1px solid #ddd;
  box-shadow: 1px 0 0 #fff;  
}

nav #login-trigger,
nav #signup a,
nav #signout a{
  height: 25px;
  line-height: 25px;
  font-weight: bold;
  padding: 0 8px;
  text-decoration: none;
  color: #444;
  text-shadow: 0 1px 0 #fff;
  padding-bottom: 0px;
  margin-right: 0px;
}

nav #signup a {
  border-radius: 0 3px 3px 0;
}

nav #signout a {
  border-radius: 0 3px 3px 0;
}

nav #login-trigger {
  border-radius: 3px 0 0 3px;
}

nav #login-trigger {
  border-radius: 3px 0 0 3px;
}

nav #login-trigger:hover,
nav #login .active,
nav #signup a:hover {
  background: #fff;
}

nav #login-content {
  display: none;
  position: absolute;
  top: 28px;
  right: 0px;
  z-index: 999;    
  background: #fff;
  background-image: linear-gradient(top, #fff, #eee);  
  padding: 8px;
  box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
  border-radius: 3px 0 3px 3px;
}

nav li #login-content {
  right: 0;
  width: 260px;
}

/*--------------------*/

#inputs input {
  background: #f1f1f1;
  padding: 6px 5px;
  margin: 0 0 5px 0;
  width: 244px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 1px #ccc inset;
}

#inputs input:focus {
  background-color: #fff;
  border-color: #e8c291;
  outline: none;
  box-shadow: 0 0 0 1px #e8c291 inset;
}

/*--------------------*/

#login #actions {
  margin: 0 0 0 0;
}

#login #submit {
  text-align: center;
  height: 30px;
  padding: 0;
  width: 200px;
}


#login #submit:active {   
  outline: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;   
}

#login #submit::-moz-focus-inner {
  border: none;
}

#login label {
  float: right;
  line-height: 30px;
}

#login label input {
  position: relative;
  top: 2px;
  right: 2px;
}
